<p id="notice"><%= notice %></p>

<h1>Listing Trails</h1>

<table>
  <thead>
    <tr>
      <th>City</th>
      <th>State</th>
      <th>Country</th>
      <th>Name</th>
      <th>Directions</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @trails.each do |trail| %>
      <tr>
        <td><%= trail.city %></td>
        <td><%= trail.state %></td>
        <td><%= trail.country %></td>
        <td><%= trail.name %></td>
        <td><%= trail.directions %></td>
        <td><%= link_to 'Show', trail_path(trail) %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

