<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @trail.name %>
</p>

<p>
  <strong>City:</strong>
  <%= @trail.city %>
</p>

<p>
  <strong>Directions:</strong>
  <%= @trail.directions %>
</p>

<p>
  <strong>Lat:</strong>
  <%= @trail.lat %>
</p>

<p>
  <strong>Lon:</strong>
  <%= @trail.lon %>
</p>

<p>
  <strong><%= 'Activity'.pluralize(@trail.activities.size) + ":" %></strong>
    <% @trail.activities.each do |activity| %>
      <div>
        <%= activity.activity_type_name.titleize %>
        <%= "- #{activity.length} miles" unless activity.length.zero? %>
        <%= "- Rating: #{activity.rating}" unless activity.rating.zero? %>
        <br>
        <%= link_to activity.url, activity.url%>
      </div>
      <br>
    <% end %>
</p>

<%= link_to 'Back', trails_path %>
