<p id="notice"><%= notice %></p>

<p>
  <strong>City:</strong>
  <%= @trail.city %>
</p>

<p>
  <strong>State:</strong>
  <%= @trail.state %>
</p>

<p>
  <strong>Country:</strong>
  <%= @trail.country %>
</p>

<p>
  <strong>Name:</strong>
  <%= @trail.name %>
</p>

<p>
  <strong>Directions:</strong>
  <%= @trail.directions %>
</p>

<p>
  <strong>Lat:</strong>
  <%= @trail.lat %>
</p>

<p>
  <strong>Lon:</strong>
  <%= @trail.lon %>
</p>

<p>
  <strong>Activity:</strong>
    <% @trail.activities.each do |activity| %>
      <div>
        <%= activity.activity_type_name %>
      </div>
    <% end %>
</p>

<%= link_to 'Back', trails_path %>
