<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @trail.name %>
</p>

<p>
  <strong>City:</strong>
  <%= @trail.city %>
</p>

<p>
  <strong>Directions:</strong>
  <%= @trail.directions %>
</p>

<% if @trail.activities.present? %>
  <p>
    <strong><%= 'Activity'.pluralize(@trail.activities.size) + ":" %></strong>
      <% @trail.activities.each do |activity| %>
        <div>
          <%= link_to activity.activity_type_name.titleize, activity.url %>
          <%= "- Trail distance: #{activity.length} miles" unless activity.length.zero? %>
          <%= "- Rating: #{activity.rating}" unless activity.rating.zero? %>
          <br>
        </div>
        <br>
      <% end %>
  </p>
<% end %>

<div>
  <%= image_tag "https://maps.googleapis.com/maps/api/staticmap?center=#{@trail.lat},#{@trail.lon}&markers=|#{@trail.lat},#{@trail.lon}&zoom=10&size=400x400&maptype=terrain&key=#{Rails.application.secrets.google_map_api_key}", size: 400 %>
</div>

<%= link_to 'Back', trails_path %>
