<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @trail.name %>
</p>

<p>
  <strong>City:</strong>
  <%= @trail.city %>
</p>

<p>
  <strong>Directions:</strong>
  <%= @trail.directions %>
</p>

<p>
  <strong><%= 'Activity'.pluralize(@trail.activities.size) + ":" %></strong>
    <% @trail.activities.each do |activity| %>
      <div>
        <%= activity.activity_type_name.titleize %>
        <%= "- Trail distance: #{activity.length} miles" unless activity.length.zero? %>
        <%= "- Rating: #{activity.rating}" unless activity.rating.zero? %>
        <br>
        <%= link_to activity.url, activity.url%>
      </div>
      <br>
    <% end %>
</p>

<div>
  <%= image_tag "https://maps.googleapis.com/maps/api/staticmap?center=#{@trail.lat},#{@trail.lon}&markers=color :blue|#{@trail.lat},#{@trail.lon}&zoom=11&size=400x400&key=#{Rails.application.secrets.google_map_api_key}" %>
</div>

<%= link_to 'Back', trails_path %>
