<!DOCTYPE html>
<html>
	<head>
	  <title>BC Trails</title>
	  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
	  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
	  <%= csrf_meta_tags %>
	</head>
	<body class='container'>

	<%= yield %>
		<footer>
			<div>
				<%= link_to 'Powered by trailAPI', 'http://trailapi.com' %>
			</div>
			<div>
				<%= link_to 'Photo by Carmine De Fazio', 'https://unsplash.com/photos/3ytjETpQMNY' %>
			</div>
		</footer>
	</body>
</html>
