<!DOCTYPE html>
<html>
	<head>
	  <title>BC Trails</title>
	  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
	  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
	  <%= csrf_meta_tags %>
	</head>
	<body class='container'>

	<%= yield %>
		<footer>
			<%= link_to 'Photo: Carmine De Fazio', 'https://unsplash.com/photos/3ytjETpQMNY'%>
		</footer>
	</body>
</html>
